<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LyncKioskTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LyncKioskTray.Properties.Settings>
            <setting name="autoAnswer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fullScreen" serializeAs="String">
                <value>True</value>
            </setting>
        </LyncKioskTray.Properties.Settings>
    </userSettings>
    <runtime>
        <legacyUnhandledExceptionPolicy enabled="1"/>
    </runtime>
</configuration>